@page
@model TournamentsWebApp.Pages.HomeModel
@{
    if (User.Identity.IsAuthenticated)
    {
        Layout = "_Layout1";
    }
    else
    {
        Layout = "_Layout";
    }

    ViewData["Title"] = "Home";

}



<div class="list-container">
    <ul>
        @{ if (Model.tournaments == null)
            {
                <h3>No tournaments</h3>
            }
            else
            {
                foreach (var tournament in Model.tournaments)
                {
                    <li>
                        <a asp-page="/Tournament">
                            <div class="item-container">

                                <img src="pic/download.jpg" alt="tournamentPicture">
                                <div class="item-content">
                                    <h4> Sport: @tournament.SportType.ToString()</h4>
                                    <p>Tournament System: @tournament.TournamentSystem.ToString()</p>
                                    <p>Start Date: @tournament.StartDate</p>
                                    <p>End Date: @tournament.EndDate</p>
                                    <p>Location: @tournament.Location</p>

                                    @*setting the div class to the status of the tournament because it will change the color for the different statuses*@

                                    <div class="@tournament.Status.ToString()">
                                        <p>Status: @tournament.Status</p>
                                    </div>

                                </div>


                            </div>
                        </a>

                    </li>


                }

            }
        }

    </ul>
</div>

