@page
@model TournamentsWebApp.Pages.TournamentModel
@{
    if (User.Identity.IsAuthenticated)
    {
        Layout = "_Layout1";
    }
    else
    {
        Layout = "_Layout";
    }
    ViewData["Title"] = "Tournament";

}

<div class="container-content">
    @{
        if (Model.tournament == null)
        {
            <h3>Page not found</h3>
        }
        else
        {
            <section class="container-info">
                <div>
                    <h2>Tournament Information</h2>
                    <div class="@Model.tournament.Status.ToString()">
                        <p>
                            Status:
                            @Model.tournament.Status
                        </p>
                    </div>
                    <p>Sport: @Model.tournament.SportType</p>
                    <p>System: @Model.tournament.TournamentSystem</p>
                    <p>Location: @Model.tournament.Location</p>
                    <p>Start Date: @Model.tournament.StartDate</p>
                    <p>End Date: @Model.tournament.EndDate</p>
                    <p>Description: @Model.tournament.Description</p>
                </div>
            </section>

            if (Model.tournament.Status == ClassLibraryTournaments.Business.Status.cancelled)
            {
                <p>Tournamnet is cancelled. No information available</p>
            }
            else
            {
                <section class="container-participants">
                    <div>
                        <h2>Participants:</h2>
                        <ul>

                            @if (Model.players.Count == 0)
                            {
                                <li>No registered players yet.</li>
                            }
                            else
                            {
                                foreach (var player in Model.players)
                                {
                                    <li>@player</li>
                                }
                            }

                        </ul>
                    </div>
                </section>
                <section class="container-ranks">

                    @if (Model.ranking != null && Model.ranking.Count != 0)
                    {
                        if (Model.tournament.Status == ClassLibraryTournaments.Business.Status.finished)
                        {
                            <h2>Ranking</h2>
                        }
                        else
                        {
                            <h2>Current Ranking</h2>
                        }
                        int counter = 1;
                        string place;
                        foreach (var player in Model.ranking)
                        {
                            switch (counter)
                            {
                                case 1:
                                    place = "Gold";
                                    break;
                                case 2:
                                    place = "Silver";
                                    break;
                                case 3:
                                    place = "Bronze";
                                    break;
                                default:
                                    place = counter.ToString();
                                    break;
                            }
                            <p>@place: @player.Key - @player.Value points</p>
                            counter++;
                        }
                    }
                    else
                    {
                        <h2>Ranking</h2>
                        <p> No ranking present yet.</p>
                    }
                </section>

                <section class="container-games">

                    @{ if (Model.games != null && Model.games.Count != 0)
                        {
                            <table>
                                <tr>
                                    <th>Game</th>
                                    <th>Result</th>
                                </tr>
                                @foreach (var game in Model.games)
                                {
                                    if (Model.namesOfPlayersForGames.ContainsKey(game.Player1Id) && Model.namesOfPlayersForGames.ContainsKey(game.Player2Id))
                                    {
                                    <tr>
                                        <td>@Model.namesOfPlayersForGames[game.Player1Id] - @Model.namesOfPlayersForGames[game.Player2Id]</td>
                                        <td>@game.Result1 - @game.Result2</td>
                                    </tr>
                                    }
                                }
                            </table>
                        }
                        else
                        {
                            <p>No games present yet.</p>
                        }
                    }
                </section>

            }

        }

    }

</div>
